
    <style>input.ng-valid.ng-dirty {background-color: lightgreen}</style>
    <style>input.ng-invalid.ng-dirty {background-color: pink}</style>
    <div style="padding-left: 20px; padding-right: 20px ">
        <div class="container">
            <h1>New Event</h1>
            <hr/>

            <form name="newEventForm">
                <fieldset>
                    <label for="eventName">Event Name:</label>
                    <input id="eventName" type="text" required ng-model="event.name" placeholder="Name of your event..." />

                    <label for="eventDate">Event Date:</label>
                    <input id="eventDate" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="Format (mm/dd/yyyy)..." />

                    <label for="eventTime">Event Time:</label>
                    <input id="eventTime" type="text"ng-model="event.time" placeholder="Start and end time..." />

                    <label for="eventLocation">Event Location:</label>
                    <input id="eventLocation" type="text" ng-model="event.location.address" placeholder="Address of event..." />
                    <br />

                    <div>{{ event.name }}</div>

                    <input id="eventCity" type="text" ng-model="event.location.city" class="input-small" placeholder="City..." />
                    <input id="eventProvince" type="text" ng-model="event.location.kanton" class="input-small" placeholder="Province..." />

                    <label for="eventImageUrl">Image:</label>
                    <input id="eventImageUrl" type="url" ng-model="event.imageUrl" class="input-xlarge" placeholder="Image..." />

                </fieldset>

                <img ng-src="{{event.imageUrl}}" src="" />
                <br />
                <br />

                <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEditEvent()" class="btn btn-default">Cancel</button>

            </form>

        </div>
        <button class="btn" ng-click="saveEvent(event)">Test</button>
    </div>
</div>

